body {
  background-color: rgb(50, 50, 50);
}

.board-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: red; */
}

.bottom-buttons {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.nav-button {
  color: white;
}